@use "../../scss/" as *;

.btn {
    font-weight: 700;
    font-size: 1.3rem;
    color: $txt-color;
    // border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1.6rem 4rem;
    font-family: $font-family;
    border-radius: 11px;
    // border-bottom-right-radius: $border-radius;

    &-main {
        background-color: $main-color;
    }

    &-second {
        background-color: $second-color;
    }
}
